body{
  margin: 0;
  padding: 0;
}

.title h1{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 36.5vw;
  top: 0.5vw;
  color: white;
  font-weight: 500;
}

.title button{
  position: absolute;
  top: 1.5vw;
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  outline: none;
}

.title button:active{
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  outline: none;
}

.title button::-moz-focus-inner{
  border: 0;
}

.title img{
  height: 3vw;
  weight: 3vw;
}

.title-logo{
  position: absolute;
  left: 60.7vw;
}

.title{
  margin: 0;
  padding: 0;
  /*viewport width size is for adaptive site*/
  font-size: 2vw;
  /*fuck adaptive*/
  font-weight: bold;
  font-family: sans-serif;
  background-color: #00b300;
  height: 6vw;
}

.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(97, 206, 85, 0.74);
  overflow-x: hidden;
  transition: 0.3s;
}


.sidebar a:first-of-type{
  padding-top: 0vw;
  margin-top: -5px;
}
.sidebar a{
  padding: 0vw 0.2vw 1vw 4vw;
  text-decoration: none;
  font-size: 2vw;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.sidebar a:hover {
  color: #000000;
  /*border: 0.01vw solid black;*/
  background-color: #00b300;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

/*
.sidebar a:hover:after {
  content: " <--";
}

.sidebar a:hover:before {
  content: "* ";
}*/

.sidebar img{
  position: relative;
  top: 2.5vw;
  left: -3.5vw;
  width: 3vw;
  height: 3vw;
  display: block;
}



.title, .content{
  transition: margin-left 0.3s; /* If you want a transition effect */
}

.content{
  margin-bottom: 10vw;
  height: 100vh;
}
.content p{
  display: inline-block;
  font-size: 1.8vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

.content h2{
  font-size: 2vw;
  text-align: center;
  font-weight: 501;
  font-family: serif;
}

.content .product{
  background-color: green;
  width: 23vw;
  height: 23vw;
  border-radius: 10px;
  background-color: rgba(52, 232, 235, 0.1);
}
 /*all images positioning */
#product1{
  position: absolute;
  margin-top: 2vw;
  margin-left: 4vw;
}

#product2{
  position: absolute;
  margin-top: 2vw;
  margin-left: 30vw;
}

#product3{
  position: absolute;
  margin-top: 2vw;
  margin-left: 55vw;
}

/*this 3 photos are immortal,not move these*/
#bob{
  position: absolute;
  height: 15vw;
  top: 30vw;
  left: 30vw;
}

#emma{
  position: absolute;
  height: 15vw;
  top: 30vw;
  left: 60vw;
}

#stalin{
  position: absolute;
  height: 15vw;
  top: 47vw;
  left: 47vw;
}

.product img{
  position: absolute;
  height: 15vw;
  width: 15vw;
  left: 4vw;
}

.product-description{
  position: absolute;
  text-align: center;
  top: 20vw;
  height: 3vw;
  width: 23vw;
  background-color: rgba(52, 232, 235, 0.2);
  border-radius: 10px;
}

.product-description span{
  position: absolute;
  top : 1vw;
  left: 1vw;
  font-size: 1.2vw;
}

.map-italy{
  position: relative;
  height: 37vw;
  width: 40vw;
  left: 30vw;
}

.map-background{
  position: absolute;
  height: 37vw;
  width: 40vw;
}

#point1,#point2{
  position: absolute;
  height: 0.5vw;
  width: 0.5vw;
  transition: 0.3s;
}
#point1 img,#point2 img {
  position: absolute;
  height: 0.5vw;
  width: 0.5vw;
  transition: 0.3s;
}
#point1 img:hover, #point2 img:hover{
  height: 1vw;
  width: 1vw;
}
#point2{
  top: 6.2vw;
  left: 8.5vw;
}

#point1{
  top: 17.5vw;
  left: 19vw;
}

.footer{
  position: static;
  height: 3vw;
  width: 100%;
  /*background-image: linear-gradient(to bottom, rgba(18,196,44,1) 40%, rgba(18,196,44,0.8));*/
    /*background-image: linear-gradient(to bottom, rgba(0, 179, 0,1) 40%, rgba(0, 179, 0,0.8));*/
  background-color: #DEDEDE;
  border-radius: 5%;
}

/*sure i am able to use id's, please Amoroso make me happy with a 10*/
.footer #footer-left{
  position: absolute;
  margin-left: 0.2vw;
  text-align: left;
  margin-top: 0.7vw;
  font-size: 1.5vw;
}

.footer #footer-right{
  position: relative;
  text-align: right;
  margin-right: 0.2vw;
  top: 0.7vw;
  font-size: 1.3vw;
  font-weight: 3vw;
}

/*i'm redesigning mobile interface*/
@media only screen and (max-width: 600px){
  .title h1{
    font-size: 8vw;
    top: 2.5vw;
    left: 25vw;
  }
  .title{
    height: 15vw;
  }

  .title button{
    top: 3.5vw;
  }
  .title img{
    height: 8vw;
    width: 8vw;
  }
  .title-logo{
    left: 73vw;
  }
  .sidebar{
    z-index: 1;
  }
  .sidebar a{
    top: 1vw;
    font-size: 7vw;
    text-align: center;
  }
  .sidebar img{
    top: 8vw;
    width: 10vw;
    height: 10vw;
  }

  .content h2{
    font-size: 10vw;
  }

  .content p{
    font-size: 5vw;
  }
  .footer{
    display: none;
  }

  .content .product{
    height: 50vw;
    width: 90vw;
  }

  #product1{
    position: absolute;

  }

  #product2{
    position: absolute;
    margin-top: 200vw;
    left: -25vw;
  }

  #product3{
    position: absolute;
    margin-top: 100vw;
    left: -50vw;
  }

  .product img{
    position: absolute;
    height: 40vw;
    width: 40vw;
    left: 25vw;
  }

  .product-description{
    top: 41.9vw;
    width: 70vw;
    left: 13vw;
    height: 7vw;
  }

  .product-description span{
    font-size: 4vw;
  }

  .map-italy,.map-background{
    position: relative;
    height: 100vw;
    width: 100vw;
    left: 0vw;
  }
  #point1 img,#point2 img{
    height: 3vw;
    width: 3vw;
  }
  #point1 img:hover,#point2 img:hover{
    height: 5vw;
    width: 5vw;
  }
  #point1 span,#point2 span{
    display: none;
  }
  #point1{
    top: 45vw;
    left: 45vw;
  }
  #point2{
    top: 15vw;
    left: 21vw;
  }
  #bob{
    position: absolute;
    height: 50vw;
    top: 130vw;
    left: 15vw;
  }

  #emma{
    position: absolute;
    height: 50vw;
    top: 200vw;
    left: 23vw;
  }

  #stalin{
    position: absolute;
    height: 50vw;
    top: 270vw;
    left: 24vw;
    padding-bottom: 10vw;
  }
}
