.semaphore .semaphore-background{
	position: absolute;
	left: 35vw;
	height: 50vw;
	width: 30vw;
}
.semaphore #red,#green,#orange{
	position: absolute;
	left: 43.5vw;
	height: 25vw;
}
.semaphore #red{
	top: 1vw;
}
.semaphore #green{
	top: 29vw;
}

.semaphore #orange{
	top: 15vw;
}
.semaphore .on-off-semaphore{
	position:relative;
	height: 10vw;
}
#async{
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 50vw;
	left: 30vw;

}
