body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 15px;
}
div.image{
	position: relative;
	width: 800px;
	margin: 0 auto;
}
#image{
	width: 800px;
}


div.absolute #name{
	position: absolute;
	top: 281px;
	left: 170px;
}

div.absolute #surname{
	position: absolute;
	top: 245px;
	left: 170px;
}

div.absolute #date{
	position: absolute;
	bottom: 70px;
	left: 170px;
}
div.absolute #mf{
	position:absolute;
	top: 290px;
	left: 460px;
}
div.absolute #email{
	position: absolute;
	bottom: 400px;
	left: 780px;
}
div.absolute #phone{
	position: absolute;
	bottom: 370px;
	left: 780px;
}
div.absolute #check{
	position: absolute;
	bottom: 350px;
	left: 780px;
}
div.absolute #contract{
	position: absolute;
	bottom: 335px;
	left: 805px;
	width: 150px;
}
div.absolute #generatecf{
	position: absolute;
	bottom: 315px;
	left: 780px;
}
div.absolute #reset{
	position: absolute;
	bottom: 280px;
	left: 780px;
}
div.absolute #cf{
	position: absolute;
	top: 190px;
	left: 170px;
}
div.absolute #real_time_clock{
	position: absolute;
	bottom : 88px;
	left: 540px;
}


.input{
	color: green;
	font-size: 15px;
	text-align: center;
	height: 25px;
  	padding: 3px 3px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border: 3px solid #80ff80;
  	-webkit-transition: 0.5s; /*compatibilita'*/
  	transition: 0.5s;
  	outline: none;
	margin-top: 1px;
	border-radius: 10px;
}
.input:focus {
  	color: blue;
  	border: 3px solid #3399FF;
  	min-width: 100px;
}
[type="date"] {
  	background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
	border-radius: 10px;
}

#real_time_clock{
	color: #3e4b75;
    	font-size: 60px;
    	letter-spacing: 3px;
	font-size: 30px;
}
#m{
	position: absolute;
	top: -23px;
	left: 6px;
}
label[for=m]{
	position: absolute;
	top: -25px;
	left: 31px

}
.lrb{
	color: #3e4b75;
	font-size: 20px;
	font-weight: bold;
}

.btn{
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
 	box-sizing: border-box;
	text-decoration:none;
	font-weight:400;
	background-color:#4eb5f1;
	color: white;
	text-align:center;
 	transition: all 0.2s;
}
.btn:hover{
	background-color:#4095c6;
}

#cf{
	font-size: 20px;
	font-weight: 400;
}
#cf:hover{
	background-color: red;
}
