.scene{
	position: relative;
}
.scene .gametitle{
	text-align:center;
	border: 0;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	font-size: 2vw;
	color: green;
	font-family: sans-serif;
}
.scene #background-scene{
	border: 10px solid black;
	width: 95vw;
	height: 40vw;
}

#insuni {
	position: absolute;
	height: 39.95vw;
	width: 95.1vw;
	top: 3.6vw;
	left: 0.7vw;
	opacity: 0;
	z-index: 1;
}
#insunion{
	position: absolute;
	height: 19.4vw;
	width: 17.6vw;
	top: 17.7vw;
	left: 41.15vw;
	opacity: 0;
	z-index: 3;
}

#insmamm{
	position: absolute;
	height: 28.5vw;
	width: 51vw;
	top: 12.5vw;
	left: 0.5vw;
	opacity: 0;
	z-index: 2;
}
#insovo{
	position: absolute;
	height: 28vw;
	width: 48vw;
	top: 14vw;
	left: 48vw;
	opacity: 0;
	z-index: 2;
}


#insuni:hover{
	opacity: 100;
}
#insunion:hover{
	opacity: 100;
}
#insmamm:hover{
	opacity: 100;
}
#insovo:hover{
	opacity: 100;
}

/*step2*/
#nplot, #doublenplot, #logplot, #oneplot{
	position: absolute;
	height: 20vw;
	width: 20vw;
	left: 3vw;
	top: 15vw;
}
#nplot:hover, #doublenplot:hover, #logplot:hover, #oneplot:hover{
	border: 5px solid red;
}
#doublenplot{
	left: 27vw; /*year of jesus ex 33*/
}
#logplot{
	left: 50vw;
}
#oneplot{
	left: 73vw;
}

/*step3*/
#esa0, #esa1, #esa2, #esa3{
	position: absolute;
	height: 20vw;
	width: 20vw;
	left: 3vw;
	top: 15vw;
}
#esa0:hover, #esa1:hover, #esa2:hover, #esa3:hover{
	border: 5px solid red;
}
#esa1{
	left: 27vw; /*year of jesus ex 33*/
}
#esa2{
	left: 50vw;
}
#esa3{
	left: 73vw;
}

/*step3*/
#gcd, #factorialnr, #hanoi, #factorial{
	position: absolute;
	height: 20vw;
	width: 20vw;
	left: 3vw;
	top: 15vw;
}
#gcd:hover, #factorialnr:hover, #hanoi:hover, #factorial:hover{
	border: 5px solid red;
}
#factorialnr{
	left: 27vw; /*year of jesus ex 33*/
}
#gcd{
	left: 50vw;
}
#factorial{
	left: 73vw;
}

/*return to zero */
.scene #white{
	position: absolute;
	top: 3.8vw;
	left: 0.8vw;
	width: 95vw;
	height: 40vw;
	z-index: 1;
	opacity: 0;
}
